{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "The Categories" %}{% endblock %}

{% block content %}

<div class="section section-padding ct-categories ct-categories-3">
    <div class="container">
        <div class="row">
            {% for RecetteCategory in categrecette %}
            <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="{{ RecetteCategory.slug }}" class="ct-category">
                <div class="ct-category-img">
                <img src="{{ RecetteCategory.image.url }}" alt="category">
                <span>{{ recette.count }} {% translate "recipes" %} </span>
                </div>
                <div class="ct-category-info">
                <h5>{{ RecetteCategory.title }}</h5>
                <p>{{ RecetteCategory.description }}</p>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}