{% extends 'base.html' %}
{% load bootstrap4 %}



{% block title %}
    <title>Editer Blog</title>
{% endblock %}

{% block content %}
<div class="section auth-section subheader bg-cover">
    <div class="container section">
        <h2>Write Your Blog Here :</h2>
        <form method="Post">
            {% csrf_token %}
            {% bootstrap_form form %}
            
        <button type="submit" class="btn btn-success btn_sm">Edite</button>
        </form>

    </div>
</div>





















{% endblock %}